.Modal() {
	@background: @modalBg;
	@box-shadow: @modalBoxShadow;
	@opacity: 0;
	@border-radius: 2px;
    @z-index: 10;
    @border: 1px solid transparent;
}
.modalWrapper() {
    @top: 0;
    @bottom: 0;
    @left: 0;
    @right: 0;
	@z-index: @modalzIndex;
}
.modalHeader() {
	@font-size: 18px;
	@color: @modalHeaderColor;
	@padding: 25px 25px 15px;
}
.modalContent() {
	@padding: 15px 25px;
	@font-size: 15px;
	@color: @modalContentColor;
}
.modalFooter() {
	@padding: 10px 25px 25px;
}
.modalFreeze() {
	@z-index: 5;
	@bg: @modalFreezeBg;
	@opacity: 0;
}
.ModalClose() {
	@bg-img: @lytesprite;
	@bg-pos: -52px 0px;
	@w: 13px;
	@h: 13px;
	@top: 30px;
	@right: 30px;
	@opacity: .5;
}
.ModalCloseHover() {
	@opacity: 1;
}
.modalFooterBtn() {
	@margin-left: 7px;
}
.modalFadein() {
    @opacity: 1;
}