.tabs() {
	@bg: @tabBg;
}
.tabHead() {
	@border: 1px solid @tabBorder;
}
.tabTitle() {
	@font-size: 15px;
	@color: @tabTitleColor;
	@padding: 10px 5px;
    @margin: 0 10px;
	@bg: @tabBg;
}
.tabTitlehover() {
	@color: @tabTextColor;
}
.tabactivehover() {
	@color: @tabActiveColor;
}
.tabBody() {
	@border: 1px solid @tabBorder;
	@padding: 15px;
	@font-size: 14px;
}
.tabContent() {
    @color: @tabTextColor;
}
.tabTopBody() {
    @border-top: 0;
}
.tabTopHead() {
	@border-bottom-color: @tabTitleBorder;
}
.tabTopTitle() {
	@margin-bottom: -1px;
	@border-bottom: 1px solid @tabTitleBorder;
}
.tabTopActiveTitle() {
	@border-bottom: 1px solid @tabActiveColor;
}
.tabTopTitleHover() {
	@border-bottom-color: @tabTitleHoverBorder;
}
.tabTopActiveTitleHover() {
	@border-bottom-color: @tabActiveColor;
}
.tabBottomTabHead() {
	@border-top-color: @tabTitleBorder;
}
.tabBottomBody() {
    @border-bottom: 0;
}
.tabBottomTitle() {
	@border-top: 1px solid @tabTitleBorder;
	@margin-top: -1px;
}
.tabBottomActiveTitle() {
	@border-top: 1px solid @tabActiveColor;
}
.tabBottomTitleHover() {
	@border-top-color: @tabTitleHoverBorder;
}
.TabBottomActiveTitleHover() {
	@border-top-color: @tabActiveColor;
}
.TabDefaultRight() {
	@padding: 10px 0;
	@w: 200px;
}
.tableLeftHead() {
    @border-right: 0;
}
.TabDefaultRightBody() {
	@w: calc(100% - 200px);
    @padding-top: 18px;
}
.tabDefaultLeftActiveTitle() {
	@border-left: 1px solid @tabActiveColor;
	@bg: @tabRightLeftItemBg;
    @margin-left: -1px;
}
.tabRightHead() {
    @border-left: 0;
}
.tabLeftRightTitle() {
    @margin: 0;
    @padding: 10px 15px;
}
.tabDefaultRightTitleHover() {
	@bg: @tabRightLeftItemHoverBg;
}
.lyteTabCloseIcon() {
	@bg-pos: -54px -2px;
	@w: 8px;
	@h: 8px;
    @margin-left: 10px;
    @margin-top: 3px;
}
.tabMoreMenu() {
    @opacity: 0.7;
    @padding: 10px;
}
.tabMoreMenuHover() {
    @opacity: 1;
}
.tabKebebMenu() {
    @bg-img: @lytesprite;
    @bg-pos: -294px -165px;
    @w: 17px;
    @h: 5px;
}