.inputLabel() {
	@font-size: @lyteInputFontSize;
	@padding-right: 30px;
	@color: @lyteInputLabelColor;
}
.inputBoxField() {
	@border: 1px solid @lyteInputBorderColor;
	@border-radius: @lyteInputBorderRadius;
}
.inputBoxInput() {
    @bg: @lyteInputBg;
	@border: 0;
	@border-radius: @lyteInputBorderRadius;
	@padding: 7px 10px;
	@color: @lyteInputTextColor;
	@font-size: @lyteInputFontSize;
}
.inputBoxInputDisabled() {
	@bg: @lyteInputDisabled;
    @color: #999;
}
.inputTextarea() {
	@min-height: 70px;
}
.inputBoxFieldHover() {
	@border: 1px solid @lyteInputBorderHover;
}
.inputBoxFieldFocus() {
	@border: 1px solid @lyteInputBorderFocus;
}
.inputBoxInputHover() {
	@border: 0;
}
.inputBoxInputFocus() {
	@border: 0;
}
.lyteTextareaResize() {
    @bg: @lytesprite;
    @bg-pos: -267px -4px;
    @w: 13px;
    @h: 13px;
    @right: 1px;
    @bottom: 1px;
    @opacity: 0.5;
    @z-index: 10;
}
.inputBoxFieldDisabledHover() {
	@border: 1px solid @lyteInputBorderColor;
}
.inputPlaceholder() {
	@color: #a6a6a6;
}
.inputHorizontalLabel() {
    @min-w: 40%;
    @w: 40%;
}
.inputHorizontalLyteField() {
    @min-w: 60%;
    @w: 60%;
}
.flatInputField() {
	@border-bottom: 1px solid @lyteInputBorderColor;
}
.flatInput() {
    @bg: @lyteInputBg;
    @border: 0;
	@padding: 6px 10px;
}
.flatInputLabel() {
	@border-bottom: 1px solid @lyteInputBorderColor;
	@padding: 5px 50px 5px 2px;
}
.flatInputFieldHover() {
	@border-bottom: 1px solid @lyteInputBorderHover;
}
.flatInputFieldDisabledHover() {
	@border-bottom: 1px solid @lyteInputBorderColor;
}
.flatInputFieldFocus() {
	@border-bottom: 1px solid @lyteInputBorderFocus;
}
.verticalInputLabel() {
    @padding-right: 0;
	@margin-bottom: 10px;
}
.flatInputVertLabel() {
	@padding: 0;
	@margin-bottom: 0;
	@border-bottom: 0;
}
.flatInputVertInput() {
    @padding-left: 0;
}
.inputSearchInputElem() {
    @padding-left: 35px;
}
.inputSearchIcon() {
	@bg-img: @lytesprite;
	@bg-pos: -180px -4px;
	@w: 15px;
	@h: 15px;
	@left: 10px;
	@top: calc(50% - 8px);
    @opacity: 0.6;
    @margin: 0;
}
.inputWithClose() {
    @padding-right: 30px;
}
.inputCloseIconWrap() {
    @padding: 8px;
    @z-index: 10;
    @opacity: 0.7;
    @top: calc(50% - 12px);
    @right: 4px;
}
.inputCloseIconWrapHover() {
    @opacity: 1;
}
.inputCloseIconBefore() {
    @bg-img: @lytesprite;
    @bg-pos: -54px -2px;
    @w: 8px;
    @h: 8px;
    @transform: scale(1.25);
}
.inputCalendar() {
    @z-index: @calzIndex;
}