.breadcrumbBody() {
	@font-size: 15px;
	@color: @breadCrumbColor;
}
.breadcrumbBodyhover() {
	@color: @breadCrumbHoverColor;
}
.ActiveBreadcrumb() {
	@color: @breadCrumbActiveColor;
}
.breadcrumbItem() {
    @padding: 0;
	@font-size: 15px;
	@margin-right: 25px;
}
.breadcrumbItemafter() {
	@bg-img: @lytesprite;
	@bg-pos: -42px -1px;
	@w: 6px;
	@h: 10px;
	@right: -18px;
	@top: calc(50% - 10px/2);
    @opacity: 0.5;
}
.breadCrumbItemLastChild() {
    @margin-right: 0;
}