.SliderFill() {
	@border-radius: 10px;
}
.RangeSlider() {
	@h: 8px;
	@bg: @rangeSliderBg;
}
.SliderFill1() {
	@bg: @rangeSliderFillBg;
}
.sliderHandler() {
    @z-index: 5;
}
.sliderHandlerSelected() {
    @z-index: 10;
}
.CircleSliderhandler() {
	@w: 12px;
	@h: 12px;
	@bg: @rangeSliderHandleBg;
    @border-radius: 50%;
	@border: 2px solid @rangeSliderHandleBorderColor;
	@top: -4px;
	@left: 10px;
}
.rangeSliderScalLable() {
	@font-size: 12px;
	@color: @rangeSliderTextColor;
	@padding-top: 10px;
}
.rangeSliderHorScaleOption() {
	@top: 15px;
	@h: 10px;
}
.ScaleLine() {
	@w: 18px;
	@h: 8px;
	@margin-left: -9px;
	@left: 20px;
}
.ScaleLineSpan() {
	@w: 2px;
	@bg: @rangeSliderTickBg;
    @top: 0;
	@left: 8px;
}
.horizontalSliderHandler() {
	@border: 2px solid @rangeSliderHandleBorderColor;
	@w: 10px;
	@h: 9px;
	@border-bottom-width: 1px;
	@top: -4px;
	@bg: @rangeSliderHandleBg;
	@left: 13px;
}
.horizontalSliderHandlerBefore() {
	@border-top-color: @rangeSliderHandleBorderColor;
	@border-width: 7px;
	@margin-left: -2px;
	@top: 10px;
}
.horizontalSliderHandlerAfter() {
	@border-top-color: @rangeSliderHandleBg;
	@border-width: 5px;
	@margin-left: 0;
	@top: 9px;
}
.rangeSliderVertical() {
	@w: 8px;
}
.Vertical() {
	@w: 8px;
}
.VSHCircle() {
	@top: 10px ;
	@left: -4px;
}
.VSHSquare() {
    @left: -4px;
}
.VRSLable() {
    @padding-top: 0;
	@top: -10px;
	@left: 10px;
}
.VRSArrowLable() {
	@top: -10px;
	@left: 10px;
}
.VSHArrow() {
	@top: 13px;
	@w: 9px;
	@h: 10px;
	@border: 2px solid @rangeSliderHandleBorderColor;
	@bg: @rangeSliderHandleBg;
}
.VSHArrow1() {
	@border-right-width: 1px;
	@left: -4px;
}
.VSHArrow2() {
	@border-left-width: 1px;
    @left: 0;
}
.VSHLeftArrowBefore() {
	@border-width: 7px;
	@margin-top: -2px;
}
.VSHArrow1Before() {
	@border-left-color: @rangeSliderHandleBorderColor;
	@left: 10px;
}
.VSHLeftArrowBefore1() {
	@border-right-color: @rangeSliderHandleBorderColor;
	@right: 10px;
}
.VSHLeftArrowAfter() {
	@border-width: 5px;
	@margin-top: 0;
}
.VSHArrowAfter1() {
	@left: 9px;
	@border-left-color: @rangeSliderHandleBg;
}
.VSHLeftArrowAfter() {
	@right: 9px;
	@border-right-color: @rangeSliderHandleBg;
}
.VRSScaleOption() {
	@left: 15px;
	@w: 10px;
}
.VRSScaleLine() {
	@w: 6px;
	@h: 18px;
	@margin-top: 0;
	@margin-left: -6px;
	@top: 20px;
	@left: 6px;
}
.VRSArrowScaleLine() {
	@left: 8px;
}
.VRSScaleLineSpan() {
	@h: 2px;
	@w: 6px;
    @left: 0;
	@top: -1px;
}
.VRSArrowLeftLable() {
	@top: -8px;
	@right: 10px;
}
.VRSArrowLeftScale() {
	@left: -15px;
}