/* lyte dragdrop styles */


/* LYTE-DRAGDROP - DEFAULT VARIABLES*/
.lyteDragdrop(){
    @width: 280px;
    @border: 1px solid #e7e7e7;
    @boxSizing: border-box;
    @marginRight: 20px;
}

.lyteDragdropFL(){
    @float: left;
}

/* LYTE-DRAGDROP - HEADING VARIABLES*/
.lyteDragdropHeading(){
    @fontWeight: bold;
    @fontSize: 1rem;
    @marginBottom: 10px;
}


/* LYTE-DRAGDROP - SEARCH VARIABLES*/
.lyteDragdropSearch(){
    @height: 25px;
    @padding: 5px 30px 5px 35px;
    @border: none;
    @borderBottom: 1px solid #e7e7e7;
    @width: 213px;
    @outline: none;
}

.lyteSearchIcon(){
    @background: url(../images/lyte_ui_sprite.svg) no-repeat -362px -2px;
    @width: 16px;
    @height: 16px;
    @left: 10px;
    @top: 10px;
}

.lyteSearchClose(){
    @background: url(../images/lyte_ui_sprite.svg) no-repeat -125px -4px;
    @width: 9px;
    @height: 9px;
    @cursor: pointer;
    @right: 10px;
    @top: 13px;
    @opacity: .5;
}

.lyteSearchCloseHover(){
    @opacity: 1;
}


/* LYTE-DRAGDROP - UL VARIABLES*/
.lyteDragdropUl(){
    @height: 300px;
    @overflowY: auto;
    @overflowX: hidden;
}

.lyteDragdropSelectedUl(){
    @height: 336px;
}

.lyteDragdropUlMP(){
    @margin: 0;
    @padding: 7px 7px;
}


/* LYTE-DRAGDROP - LI VARIABLES*/
.lyteDragdropLi(){
    @listStyleType: none;
    @padding: 7px 20px;
    @cursor: move;
}

.lyteDragdropLiHover(){
    @backgroundColor: #f7f7f7;
}


/* LYTE-DRAGDROP - ADD ICON VARIABLES*/
.lyteDragdropAdd(){
    @background: url(../images/lyte_ui_sprite.svg) no-repeat -30px -1px;
    @width: 10px;
    @height: 10px;
    @cursor: pointer;
    @float: right;
    @marginTop: 4px;
    @visibility: hidden;
    @opacity: .5;
}


/* LYTE-DRAGDROP - REMOVE ICON VARIABLES*/
.lyteDragdropRempove(){
    @background: url(../images/lyte_ui_sprite.svg) no-repeat -1px -5px;
    @width: 10px;
    @height: 10px;
    @cursor: pointer;
    @float: right;
    @marginTop: 7px;
    @visibility: hidden;
    @opacity: .5;
}


/* LYTE-DRAGDROP - SELECTED NONE VARIABLES*/
.lyteDragdropSelectedNone(){
    @top: 50%;
    @transform: translate(-50%,-50%);
    @left: 50%;
    @opacity: .4;
}


/* LYTE-DRAGDROP - DROPPABLE VARIABLES*/
.lyteDragdropDroppable(){
    @backgroundColor: #F5F6CE;
    @border: 1px dashed #eee;
}


/* LYTE-DRAGDROP - DRAGGABLE VARIABLES*/
.lyteDraggableElem(){
    @backgroundColor: #f7f7f7;
    @zIndex: 1001;
}



