@lytesprite: url(../../images/sprite_lyte_night.svg);

@themeBodyBackground: #333;
@commonTextColor: #eee;
@commonTextHoverColor: #fff;
@commonTextColor2: #fff;
@headingTextColor: #fff;


@themeActiveElementBg: #5ba1e5;
@themeActiveElementColor: #79b9ff;



//  Input related Variables Begins

@lyteInputBg: @themeBodyBackground;
@lyteInputTextColor: @commonTextColor2;
@lyteInputBorderColor: #6f6f6f;
@lyteInputBorderHover: #ccc;
@lyteInputBorderFocus: #fff;
@lyteInputDisabled: #777;
@lyteInputLabelColor: #bbb;

//  Input related Variables Ends

//  Checkbox related Variables Begins

@chboxLabelColor: #bbb;
@chboxFontSize: 14px;
@chboxSwitchBg: #777;
@chboxSwitchBgOnMode: #1860a7;
@chboxCircleBg: #fff;

//  Checkbox related Variables Ends

//  accordion related variables Begins

@accordionBorderColor: #444;
@accordionBorderHover: #666;
@accordionBorderActive: #888;
@accordionBg: @themeBodyBackground;
@accordionColor: @commonTextColor2;
@accordionHeaderColor: #ddd;
@accordionHeaderHoverColor: #fff;
@accordionHeaderActiveColor: @themeActiveElementColor;
@accordionHeaderFontSize: 16px;
@accordionBodyFontSize: 14px;

//  accordion related variables Ends

//  Alert related variables Begins

@alertPopupBg: @themeBodyBackground;
@alertPopBorder: #6f6f6f;
@alertPopupBoxShadow: rgb(0, 0, 0);
@alertPopupHeaderColor: #fff;
@alertPopupContentColor: #ddd;

//  Alert related variables Ends

//  Autocomplete related variable Begins

@autoCompHighlightColor: #fff;
@autoCompleteText: #aaa;
@autocompleteBoxShadow: transparent;

//  Autocomplete related variable Ends

//  Breadcrumb related variable Begins

@breadCrumbColor: #ccc;
@breadCrumbHoverColor: #eee;
@breadCrumbActiveColor: @themeActiveElementColor;

//  Breadcrumb related variable Ends

//  Calendar related variable Begins

@calendarPopupBG: @themeBodyBackground;
@calendarDropdownColor: #bbb;
@calendarDropdownHoverColor: #fff;
@calendarTextColor: #bbb;
@calSelElemBg: #285177;
@calHoverElemBg: #6b737a;
@calNavBg: #555;

//  Calendar related variable Ends

//  Colorbox related variable Begins

@colorboxFreezeBg: #111;
@colorboxWrapperBg: #333;
@colorboxTextColor: #eee;

//  Colorbox related variable Begins

//  Colorpicker related variable Begins

@LCP_BorderColor: #444;
@LCP_boxShadowColor: rgba(255,255,255,0.1);
@LCP_colorpanBorderColor: rgba(255, 255, 255, 0.1);
@LCP_colorpanHoverBorderColor: rgba(255, 255, 255, 0.2);
@LCP_morelinkHoverBg: #373737;
@LCP_advancedLink: #fff;
@LCP_colorSliderHandle: #fff;
@LCP_inputBorder: #6f6f6f;
@LCP_inputHoverBorder: #666;
@LCP_formatdropdownColor: #ddd;

//  Colorpicker related variable Ends

//  Daterangepicker related variable Begins

@DRP-bg: @themeBodyBackground;
@DRP-selElemBG: #285177;
@DRP-inrangeBG: #6b737a;
@DRP-inrangeColor:#eee;
@DRP-navBg: #555;

//  Daterangepicker related variable Ends

//  Dropdown related variable Begins

@dropdownBg: @themeBodyBackground;
@dropdownTextColor: @commonTextColor;
@dropdownBtnTextColor: #bbb;
@dropdownBtnBorderColor: #6f6f6f;
@dropdownBtnBorderHoverColor: #c1c1c1;
@dropBoxBorderColor: @dropdownBtnBorderHoverColor;
@dropBoxBoxShadowColor: transparent;
@dropBoxItemHoverBg: #444;
@dropBoxArrowBg: #777;

//  Dropdown related variable Ends

//  Gridstack related variable Begins

@gridStackSquaresBg: #555;
@gridStackItemBorder: #454545;

//  Gridstack related variable Ends


//  Menu related variable Begins

@menuBg: @themeBodyBackground;
@menuHeaderColor: #fff;
@menuLabelColor: @commonTextColor;
@menuBorderColor: #6f6f6f;
@menuItemHover: #444;
@menuDescColor: #fff;
@menuGroupBorder: #454545;

//  Menu related variable Ends

//  Mentions input related variable Begins

@MIBg: @themeBodyBackground;
@MITextColor: @commonTextColor2;
@MIPlaceholderColor: #777;
@MIBorderColor: #6f6f6f;
@MIActiveElemBg: #555;
@MIHighlightElemBg: #429c50;
@MISelectedValBg: #5ba1e5;

//  Mentions input related variable Ends

//  MessageBox related variable Begins

@messageBoxBg: #333;
@messageBoxContentColor: #fff;

//  MessageBox related variable Ends

//  Modal related variable Begins

@modalBg: @themeBodyBackground;
@modalBoxShadow: none;
@modalHeaderColor: #fff;
@modalContentColor: #ccc;
@modalFreezeBg: #fff;

//  Modal related variable Ends

//  Navigator related variable Begins

@navigationTextColor: #bbb;
@navigationTextHoverColor: #eee;
@navigationNumHoverBorderColor: #999;
@navigationArrowBorder: #666;
@navigationActiveColor: @themeActiveElementBg;

//  Navigator related variable Ends

//  Navbar related variable Begins

@navBarBg: #444;
@navBarHoverBg: #555;
@navBarTextColor: #fff;
@navBarBoxShadowColor: rgba(255, 255, 255, 0.1);
@navBarTriangleBg: #ddd;

//  Navbar related variable Ends

//  Popover related variable Begins

@popoverBg: @themeBodyBackground;
@popoverOuterBorder: #8a8a8a;
@popoverFreezeBg: #666;
@popoverTextColor: #fff;

//  Popover related variable Ends

//  Progressbar related variable Begins

@progressBarHorizontalBg: #555;
@progressStatusColor: #fff;
@progressBarHorizonCompletedBg: #3fbd5f;
@progressBarCircleTextColor: #fff;

//  Progressbar related variable Ends

//  Radiobutton related variable Begins

@radioTextColor: #bbb;
@radioBorderColor: #888;
@radioBg: @themeBodyBackground;
@radioBgOnMode: #4da4f9;

//  Radiobutton related variable Ends

//  Rangeslider related variable Begins

@rangeSliderTextColor: #fff;
@rangeSliderBg: #5f6a87;
@rangeSliderFillBg: @themeActiveElementBg;
@rangeSliderHandleBg: @themeBodyBackground;
@rangeSliderTickBg: #777;
@rangeSliderTextColor: #fff;

//  Rangeslider related variable Ends

//  Sortable related variable Begins

@sortableDisabledBg: #f38585;
@sortableDisabledBorder: #f74242;

//  Sortable related variable Ends

//  Step related variable Begins

@stepBulletHoverBorder: #777;
@stepBulletActiveBg: #3ac998;
@stepBulletTextColor: #ddd;



@stepBoxBg: @themeBodyBackground;
@stepBoxHoverBg: #444;
@stepBoxTriangleColor: #777;
@stepBoxActiveBg: #1d414e;
@stepBoxColor: #fff;
@stepBoxActiveColor: #fff;
@stepBoxCountColor: #bbb;

//  Step related variable Ends

//  Tabs related variable Begins

@tabBg: @themeBodyBackground;
@tabBorder: #6f6f6f;
@tabActiveColor: @themeActiveElementColor;
@tabTitleColor: #ccc;
@tabTextColor: #fff;
@tabTitleBorder: #444;
@tabTitleHoverBorder: #ccc;
@tabRightLeftItemBg: #444;
@tabRightLeftItemHoverBg: #373737;

//  Tabs related variable Ends

//  Table related variable Begins

@tableBg: @themeBodyBackground;
@tableThBg: #444;
@tableBorderColor: #6f6f6f;
@tableFixedBoxShadow: rgba(255, 255, 255, 0.1);
@tableThTextColor: #aaa;
@tableTdTextColor: #fff;

//  Table related variable Ends

//  Tooltip related variable Begins

@tooltipBg: #fff;
@tooltipTextColor: #333;

@alternateTooltipBg: @themeBodyBackground;
@alternateTooltipBorder: #6f6f6f;
@alternateTooltipTextColor: #fff;

//  Tooltip related variable Ends

//  Tree related variable Begins

@treeBg: @themeBodyBackground;
@treeBorderColor: #888;
@treeCollpaseHoverBorder: #ccc;
@treeTextcolor: #ccc;
@treeTextHovercolor: #fff;

//  Tree related variable Ends