.lytebutton() {
	@border-radius: 2px;
	@font-size: 15px;
	@padding: 5px 15px;
    @border-width: @buttonBorderWidth;
    @border-style: @buttonBorderStyle;
}
.lyteDisabledBtn() {
	@opacity: .5;
}
.DefaultBtn() {
	@bg: #fff;
	@color: #3c3c3c;
	@border: @buttonBorderWidth @buttonBorderStyle #c4c4c4;
}
.DefaultBtnHover() {
	@border: @buttonBorderWidth @buttonBorderStyle #abaaaa;
}
.PrimaryBtn() {
	@bg: @themeActiveElementBg;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle @themeActiveElementBg;
}
.PrimaryBtnHover() {
	@bg: #3c98dd;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #3c98dd;
}
.Secondary() {
	@bg: #555;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #555;
}
.SecondaryHover() {
	@bg: #474747;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #444;
}
.SuccessButton() {
    @bg: #19bc7d;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #19bc7d;
}
.SuccessButtonHover() {
    @bg: #10ab6f;
	@border: @buttonBorderWidth @buttonBorderStyle #10ab6f;
}
.defaultSuccess() {
	@bg: #fff;
	@color: #19bc7d;
	@border: @buttonBorderWidth @buttonBorderStyle #19bc7d;
}
.defaultSuccessHover() {
	@bg: #19bc7d;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #19bc7d;
}
.FailureButton() {
	@bg: #ec4844;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #ec4844;
}
.FailureButtonHover() {
	@bg: #da3e3e;
	@border: @buttonBorderWidth @buttonBorderStyle #da3e3e;
}
.defaultFailure() {
	@bg: #fff;
	@color: #ec4844;
	@border: @buttonBorderWidth @buttonBorderStyle #ec4844;
}
.defaultFailureHover() {
	@bg: #ec4844;
	@color: #fff;
	@border: @buttonBorderWidth @buttonBorderStyle #ec4844;
}
.Lg() {
	@padding: 7px 20px;
	@font-size: 15px;
}
.Sm() {
	@padding: 3px 10px;
	@font-size: 13px;
}
.Exsm() {
	@padding: 2px 8px;
	@font-size: 12px;
}