@property-left: right;
@property-right: left;
@property-margin-right: margin-left;
@property-margin-left: margin-right;
@property-padding-left: padding-right;
@property-padding-right: padding-left;
@property-border-right: border-left;
@property-border-left: border-right;
@property-border-left-color: border-right-color;
@property-border-right-color: border-left-color;
@property-border-bottom-left-radius: border-bottom-right-radius;
@property-border-bottom-right-radius: border-bottom-left-radius;
@property-border-top-right-radius: border-top-left-radius;
@property-border-top-left-radius: border-top-right-radius;
@property-border-right-width: border-left-width;
@property-border-left-width: border-right-width;

@value-float-left: right;
@value-textalign-left: right;
@value-textalign-right: left;
@value-transition-left: right;
@value-sw-resize: se-resize;
@value-se-resize: sw-resize;
@value-nw-resize: ne-resize;
@value-ne-resize: nw-resize;
@value-rotate-0deg: rotate(180deg);
@value-rotate-180deg: rotate(0deg);

@rtlEnabled: true;


//  Calendar related variable Begins
.calPopDropBtn() {
    @padding: 3px 1px 3px 25px;
}
.calPopDropBtnHover() {
    @padding: 3px 1px 3px 25px;    
}
//  Calendar related variable Ends

//  Checkbox related Variables Begins
.checkBoxPrimaryBefore() {
    @margin-left: 3px;
}
//  Checkbox related Variables Ends

//  Colorbox related variable Begins
.ColorboxUtilDiv() {
    @transform: translateX(50%);
}
//  Colorbox related variable Ends

//  Date range picker related variable Begins
.DateRPLastDateSelectedHover() {
    @border-radius: 0 50% 50% 0;
}
.dateRPLastDateSelHoverBg() {
    @border-radius: 50% 0 0 50%;
}
.DateRPTempFirstDateSelected() {
	@border-radius: 0 50% 50% 0;
}
.DRPRightCurve() {
    @border-radius: 50% 0 0 50%;
}
.DRPLeftCurve() {
    @border-radius: 0 50% 50% 0;
}
.monthEndFirstDate() {
    @border-radius: 0 50% 50% 0;
}
//  Date range picker related variable Ends

//  DateSelect related variable Begins
.dateSelectArrow() {
    @box-shadow: -1px 1px @dateSelectBorderColor;
}
.dateSelectleftArrow() {
	@box-shadow: 1px -1px @dateSelectBorderColor;
}
.dateSelectRightArrow() {
    @transform: rotate(90deg);
}
//  DateSelect related variable Ends


//  Dropdown related variable Ends
.dropdownBtn() {
    @padding: 7px 10px 7px 25px;
}
.dropItem() {
    @padding: 7px 25px 7px 15px;
}
.MultipleSelect() {
	@padding: 1px 7px 3px 25px;
}
.multiSelectCloseContainer() {
    @border-radius: @dropboxBorderRadius 0 0 @dropboxBorderRadius;
}
//  Dropdown related variable Ends

//  Input related Variables Begins
.lyteTextareaResize() {
    @transform: rotate(90deg);
}
.flatInputLabel() {
	@padding: 5px 10px 5px 50px;
}
//  Input related Variables Ends

//  Menu related variable Begins
.menuArrowIconLeft() {
    @box-shadow: 1px -1px 0 0 @menuBorderColor;
}
.menuArrowIconRight() {
    @box-shadow: -1px 1px 0 0 @menuBorderColor;
}
//  Menu related variable Ends

//  MessageBox related variable Begins
.MessageBox() {
	@padding: 0 0 0 50px;
}
.messageBoxContent() {
	@padding: 10px 65px 10px 15px;
}
//  MessageBox related variable Ends

//  Navigation related variable Begins
.paginationNavArrows() {
    @transform: scale(0.8) rotate(180deg);
}
//  Navigation related variable Ends

//  Step related variable Begins
.stepBulletLabel() {
	@transform: translateX(calc(50% - 13px));
}
.stepFlatBody() {
	@padding: 6px 30px 6px 15px;
}
//  Step related variable Ends

//  Table related variable Begins
.TableFixed() {
    @box-shadow: -3px 0 7px -2px @tableFixedBoxShadow;
}
//  Table related variable Ends

//  Tooltip related variable Begins
.tooltipInnerSpan() {
    @transform: translateX(5px) rotate(45deg);
}
.whiteTooltipBeforeRight() {
    @box-shadow: 1px -1px 0 0 @alternateTooltipBorder;
}
.whiteTooltipBeforeLeft() {
    @box-shadow: -1px 1px 0 0 @alternateTooltipBorder;
}
//  Tooltip related variable Ends