lyte-step-structure{
  line-height: 1;
    display: inline-block;
    margin: 0 0;
    vertical-align: middle;
}
lyte-step-item {
  float: left;
  margin-right: 10px;
  padding : 0;
  font-size: 14px;
  position: relative;
}
.lyteStepSlash lyte-step-item:not(.lyteLastElement), .lyteStepArrow lyte-step-item:not(.lyteLastElement){
  margin-right: 20px;
}
lyte-step-item.lyteActive{
  color: #2C7BD0;
}
.lyteStepSlash lyte-step-item:not(:last-of-type):after{
  content: '/';
  position: absolute;
  right: -12px;
  top:0;
  color: #666;
  opacity: 0.5;
}
.lyteStepSlash .lyteWarning{
  color: #ffb130;
}
.lyteStepSlash .lyteCompleted{
  color: #72c880;
}
.lyteStepArrow lyte-step-item:not(:last-of-type):after{
  content: '';
  background: url(../images/lyte_ui_sprite.svg) no-repeat -191px -29px;
  position: absolute;
  right: -12px;
  top:3px;
  color: #666;
  width: 4px;
  height: 7px;
  opacity: 0.5;
}
/*Stage css*/
.lyteStepBullet, .lyteStepFlat{
  position: relative;
  white-space: nowrap;
}
.lyteStepBullet:before{
  content: "";
    display: block;
    position: absolute;
    top: 48%;
    bottom: 38px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    background: #e3e3e3;
}
.lyteStepBullet .lyteCompleted lyte-step-head{
  background: #72c880 !important;
  color: #fff;
  border: 1px solid #72c880 !important;
}
.lyteStepBullet lyte-step-item.lyteCompleted:not(:first-of-type):before {
  content: "";
  display: block;
    position: absolute;
    top: 48%;
    bottom: 38px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    background: #72c880;
}
.lyteStepBullet lyte-step-head{
    border: 1px solid #2d7bd0;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    position: relative;
    text-align: center;
    font-size: 11px;
    box-sizing: border-box;
    padding: 2px 5px;
}
.lyteStepBullet lyte-step-item{
  margin-right: 0;
}
.lyteStepBullet lyte-step-body{
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 12px;
  color: #666;
}
.lyteStepBullet lyte-step-item:not(:first-of-type) {
  padding-left: 60px;
}
.lyteStepBullet .lyteWarning lyte-step-head {
  border: 1px solid #ffb130;
  background: #ffb130 !important;
    color: #fff;
}
.lyteStepBullet lyte-step-item.lyteWarning:not(:first-of-type):before {
  background: #ffb130;
  content: "";
    display: block;
    position: absolute;
    top: 48%;
    bottom: 38px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 1px;
}
/*lyte-step-structure.lyteStepFlat {
  overflow: hidden;
}*/
.lyteStepFlat lyte-step-item, .lyteStepPlain lyte-step-item {
  margin-right: 0px;
}
.lyteStepFlat lyte-step-body,.lyteStepPlain lyte-step-body{
  display: block;
  float: left;
  background: #eaeaea;
  text-align: center;
  padding: 10px 20px 10px 30px;
  position: relative;
  margin: 0 2px 0 0; 
  font-size: 14px;
  text-decoration: none;
  color: #333;
}
.lyteStepFlat lyte-step-body:after, .lyteStepPlain lyte-step-body:after {
  content: "";  
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #eaeaea;
  position: absolute; right: -17px; top: 0;z-index: 1;
}
.lyteStepFlat lyte-step-body:before, .lyteStepPlain lyte-step-body:before {
  content: "";  
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #fff;
  position: absolute; left: 0; top: 0;
}
/*On progress css*/
.lyteStepFlat .lyteActive lyte-step-body, .lyteStepPlain .lyteActive lyte-step-body{
  background: #2d7bd0 !important;
  color: #fff !important;
}
.lyteStepFlat .lyteActive lyte-step-body:after, .lyteStepPlain .lyteActive lyte-step-body:after{
  border-left-color: #2d7bd0 !important;
}
/*Warning css*/
.lyteStepFlat .lyteWarning lyte-step-body, .lyteStepPlain .lyteWarning lyte-step-body{
  background: #ffb130 !important;
  color: #fff !important;
}
.lyteStepFlat .lyteWarning lyte-step-body:after, .lyteStepPlain .lyteWarning lyte-step-body:after{
  border-left-color: #ffb130 !important;
}
/*Completed css*/
.lyteStepFlat .lyteCompleted lyte-step-body, .lyteStepPlain .lyteCompleted lyte-step-body{
  background: #72c880 !important;
  color: #fff !important;
}
.lyteStepFlat .lyteCompleted lyte-step-body:after, .lyteStepPlain .lyteCompleted lyte-step-body:after{
  border-left-color: #72c880 !important;
}
.lyteStepPlain lyte-step-item:first-child lyte-step-body:before{
  border-left-color: transparent;
} 

/* import theme overrides - styles */
lyte-step-structure.lyteStepBox {
  display: -webkit-inline-box;
  margin: 1em;
  line-height: 1.14285714em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  counter-reset: ordered;
}
.lyteStepBox lyte-step-item {
  align-items: center;
  margin: 0 0 ;
  padding: 1.14285714em 2em;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-right: 1px solid rgba(34, 36, 38, 0.15);
}
.lyteStepBox lyte-step-item:last-of-type {
  border-right: none;
}
.lyteStepBox lyte-step-item.lyteCompleted:before {
  content: '';
  background: url(../images/lyte_ui_sprite.svg) no-repeat -1px -18px;
  color: #21ba45;
  height: 30px;
  width: 30px;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  counter-increment: ordered;
}
.lyteStepBox lyte-step-item:not(.lyteCompleted):before {
  content: counters(ordered, ".");
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  font-size: 2em;
  counter-increment: ordered;
}
.lyteStepBox lyte-step-item.lyteActive {
  background: #f3f4f5;
}
.lyteStepBox lyte-step-item.lyteActive:before {
  content: counters(ordered, ".");
  color: #21ba45;
  margin-right: 1rem;
  font-size: 2em;
  counter-increment: ordered;
  font-weight: 700;
}

.lyteStepBox lyte-step-item:not(:last-of-type):after {
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-width: 0 1px 1px 0;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  z-index: 2;
  content: '';
  background: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  color: #666;
  width: 1.14285714em;
  height: 1.14285714em;
  opacity: 1;
}