/* Default theme imported */
/* Loading theme in configuration */
/* global theme */
/* Themes of components */
/* Loading final tweaks to your variables */
/*  Calculator related style BEGINS   */
lyte-calculator {
  font-family: 'ProximaNovaRegular', 'Open Sans', sans-serif;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 3px;
}
.lyteCalculator {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  outline: 0;
  width: 220px;
}
.lyteCalculator.advanced {
  width: 450px;
}
.lyteCalculator.basic .advancedCalculator {
  display: none;
}
.calculatorDisplay {
  position: relative;
  background: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}
.calculatorrad {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
}
.lyteCalculator.advanced .calculatorDisplay {
  padding: 5px 15px;
}
.lyteCalculatorTextField {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: none;
  text-align: right;
  background: #fafafa;
  font-size: 20px;
  color: #111;
  height: 25px;
}
.calculatorDisplay.equalBtn .lyteCalculatorTextField {
  font-size: 14px;
  color: transparent !important;
  height: 21px;
  text-shadow: 0 0 0 #777 !important;
}
.calculatorbuttons,
.basicCalculator,
.advancedCalculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.advancedCalculator {
  width: 250px;
}
.basicCalculator {
  align-content: baseline;
}
.advancedCalculator span,
.basicCalculator span {
  width: 55px;
  height: 38px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
  background: #f4f4f4;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 15px;
  color: #111;
}
.basicCalculator span.calcClearAc {
  font-size: 14px;
}
.basicCalculator span.doubleWidth {
  width: 110px;
}
.advancedCalculator span {
  width: 50px;
  font-size: 14px;
}
.lyteCalculator.advanced .basicCalculator span {
  width: 50px;
}
.lyteCalculator.advanced .basicCalculator span.doubleWidth {
  width: 100px;
}
.lyteCalculator.advanced .basicCalculator {
  width: 200px;
}
.advancedCalculator span:hover,
.basicCalculator span:hover {
  background: #eee;
}
.basicCalculator span.basicOp {
  background: #6f92e9;
  border-right: 0;
  font-size: 25px;
}
.basicCalculator span.basicOp.calcEqual {
  color: #fff;
}
.basicCalculator span.lastrow,
.advancedCalculator span.lastrow {
  border-bottom: 0;
}
.calculatorDispspan {
  text-align: right;
  font-size: 14px;
  color: #777;
  height: 22px;
}
.calculatorDisplay.equalBtn .calculatorDispspan {
  font-size: 20px;
  color: #111;
  height: 25px;
}
.calculatorToggle {
  display: block;
  position: absolute;
  left: -18px;
  border: 1px solid #d8d8d8;
  padding: 5px 3px;
  background: #f0f0f0;
  border-right: 0;
  top: 43px;
  cursor: pointer;
}
.calculatorsmaller {
  color: #f0f0f0;
  background-image: url(../images/sprite_lyte.svg);
  background-position: -40px -1px;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(180deg);
}
.lyteCalculator.advanced .calculatorsmaller {
  transform: rotate(0deg);
}
.advancedCalculator span.CalculatorBtn15 {
  font-size: 15px;
}
.advancedCalculator span.CalculatorBtn16 {
  font-size: 16px;
}
.advancedCalculator span.CalculatorBtn17 {
  font-size: 17px;
}
.advancedCalculator span.calc-second {
  background: #e4e4e4;
}
.memorymr.active,
.memorymr.active:hover {
  background: #e4e4e4;
  position: relative;
}
.memorymr.active::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 5px;
  background: #3663d4;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.calcLeft {
  border-bottom-left-radius: 2px;
}
.lyteCalculator.advanced .basicCalculator .calcLeft {
  border-bottom-left-radius: 0px;
}
.calcRight {
  border-bottom-right-radius: 2px;
}
.basicCalculator span.basicOp:not(.calcEqual),
.advancedCalculator span.squareroot.inverse,
.advancedCalculator span.cuberoot.inverse,
.basicCalculator span.calcBackspace,
.advancedCalculator span.pieButton {
  position: relative;
  color: transparent;
}
.pieButton::after,
.basicCalculator span.basicOp:not(.calcEqual)::after,
.cuberoot.inverse::before,
.squareroot.inverse::before,
.basicCalculator span.calcBackspace::after {
  content: '';
  position: absolute;
  background-image: url(../images/sprite_lyte.svg);
}
.calcMultiply::after {
  background-position: -325px -110px;
  width: 14px;
  height: 12px;
  top: calc(50% - 6px);
  left: calc(50% - 7px);
}
.calcDivide::after {
  background-position: -348px -108px;
  width: 14px;
  height: 14px;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}
.calcAdd::after {
  background-position: -73px -58px;
  width: 11px;
  height: 11px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.calcSub::after {
  background-position: -309px -116px;
  width: 12px;
  height: 2px;
  top: calc(50% - 1px);
  left: calc(50% - 6px);
}
.squareroot.inverse::before,
.cuberoot.inverse::before {
  content: '2';
  background-position: -374px -107px;
  width: 20px;
  height: 18px;
  top: calc(50% - 9px);
  left: calc(50% - 10px);
  color: #222;
  font-size: 13px;
  line-height: 10px;
  text-align: left;
  text-indent: -2px;
}
.cuberoot.inverse::before {
  content: 'y';
  line-height: 6px;
}
.squareroot.inverse::after,
.cuberoot.inverse::after {
  content: 'x';
  position: absolute;
  color: #222;
  top: 14px;
  line-height: 6px;
  left: calc(50%);
  text-indent: 1px;
}
.basicCalculator span.calcBackspace::after {
  background-position: -98px -134px;
  width: 16px;
  height: 12px;
  left: calc(50% - 8px);
  top: calc(50% - 6px);
}
.lyteCalculatorTextField.hideCursor,
.lyteCalculatorTextField.hideCursorNonEditable {
  color: transparent !important;
  text-shadow: 0 0 0 #111 !important;
}
.equalBtn .lyteCalculatorTextField.hideCursorNonEditable {
  color: transparent !important;
  text-shadow: 0 0 0 #777 !important;
}
.toggleBtns {
  position: relative;
}
.toggleBtns sup {
  font-size: 0;
}
.cuberoot:not(.inverse)::after,
.squareroot:not(.inverse)::after,
.logbtn.inverse::after,
.naturallog.inverse::after,
.hyperbolic.inverse::after,
.trignometry.inverse::after {
  content: '-1';
  position: absolute;
  top: -7px;
  right: 7px;
  color: #111;
  font-size: 12px;
}
.hyperbolic.inverse::after {
  right: 5px;
}
.logbtn.inverse::after,
.naturallog.inverse::after {
  content: 'x';
  top: -7px;
  right: 10px;
}
.naturallog.inverse::after {
  right: 12px;
}
.squareroot:not(.inverse)::after {
  content: '2';
  right: 12px;
}
.cuberoot:not(.inverse)::after {
  content: 'y';
  right: 12px;
}
.pieButton::after {
  display: block;
  width: 10px;
  height: 10px;
  background-position: -124px -137px;
  top: calc(50% - 3px);
  left: calc(50% - 4px);
}
